PORT=5001
AUTH_DB_PROVIDER=sqlite
AUTH_SQLITE_PATH=./data/henny_auth.sqlite
SAP_BASE_URL=https://localhost:50000/b1s/v1
SAP_USERNAME=2501
SAP_PASSWORD=1234
SAP_COMPANY_DB=WMS_DEV_UK
SAP_REJECT_UNAUTHORIZED=false
DB_DIALECT=sqlserver
DB_SERVER=localhost
DB_PORT=
DB_NAME=WMS_DEV_UK
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=false
DB_TRUST_CERT=true
